Importing and File Location

In [5]:
#import libraries
import pandas as pd
import numpy as np
import os

#creating Paths
path= r'C:\Users\wjzak\Dropbox\Career Foundry\Data Immersion\Module 4- Python Fundamentals for Data Analysts\07-2025 Instacart Basket Analysis'

#using the path to pull prepared data
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))

In [6]:
ords_prods_merge.columns

Index(['Unnamed: 0', 'product_id', 'product_name', 'aisle_id', 'department_id',
       'prices', 'order_id', 'user_id', 'eval_set', 'order_number',
       'order_dow', 'order_hour_of_day', 'days_since_prior_order',
       'add_to_cart_order', 'reordered', '_merge'],
      dtype='object')

New Variables Exercise

In [2]:
# Define function
def add_num(x,y):
    sum = x + y
    return sum

In [3]:
#Run function
add_num(9,11)

20

In [4]:
#create subset
df = ords_prods_merge[:1000000]

In [5]:
#defines a price label function that is determined by several if/elseif statements
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [6]:
#apply the function
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\wjzak\AppData\Local\Temp\ipykernel_30968\748875041.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [7]:
df['price_range'].value_counts(dropna= False)

price_range
Mid-range product    634889
Low-range product    331220
Not enough data       24547
High range             9344
Name: count, dtype: int64

In [8]:
#creating conditions- condition 1
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

C:\Users\wjzak\AppData\Local\Temp\ipykernel_30968\3597510009.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [9]:
#condition 2
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [10]:
#condition 3
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [11]:
#counts for the conditions created above
df['price_range_loc'].value_counts(dropna= False)

price_range_loc
Mid-range product     634889
Low-range product     331220
NaN                    24547
High-range product      9344
Name: count, dtype: int64

In [12]:
#creating conditions for orders and product dataset
ords_prods_merge.loc[ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [13]:
ords_prods_merge.loc[(ords_prods_merge['prices'] <= 15) & (ords_prods_merge['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [14]:
ords_prods_merge.loc[ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [ ]:
ords_prods_merge

In [118]:
#drop this missing data also missed during previous cleanup
ords_prods_merge = ords_prods_merge.dropna(subset=['price_range_loc'])

In [119]:
#counts for the conditions created above
ords_prods_merge['price_range_loc'].value_counts(dropna= False)

price_range_loc
Mid-range product     21860868
Low-range product     10126324
High-range product      417678
Name: count, dtype: int64

In [120]:
#dropping the few missing data missed during previous cleanup
ords_prods_merge = ords_prods_merge.dropna(subset=['order_dow'])

In [121]:
ords_prods_merge['order_dow'].value_counts(dropna=False)

order_dow
0.0    6204182
1.0    5660230
6.0    4496490
2.0    4213830
5.0    4205791
3.0    3840534
4.0    3783802
Name: count, dtype: int64

In [122]:
result = []

for value in ords_prods_merge["order_dow"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [123]:
#reports the results- this is long and was commented out to keep the process easier to follow
#result

In [124]:
ords_prods_merge['busiest_day']=result

In [125]:
ords_prods_merge['busiest_day'].value_counts(dropna=False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

In [126]:
ords_prods_merge.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day
0,0.0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,3139998.0,138.0,prior,28.0,6.0,11.0,3.0,5.0,0.0,both,Mid-range product,Regularly busy
1,0.0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,1977647.0,138.0,prior,30.0,6.0,17.0,20.0,1.0,1.0,both,Mid-range product,Regularly busy
2,0.0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,389851.0,709.0,prior,2.0,0.0,21.0,6.0,20.0,0.0,both,Mid-range product,Busiest day
3,0.0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,652770.0,764.0,prior,1.0,3.0,13.0,NaN,10.0,0.0,both,Mid-range product,Regularly busy
4,0.0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,1813452.0,764.0,prior,3.0,4.0,17.0,9.0,11.0,1.0,both,Mid-range product,Least busy

In [127]:
#this command renames the price range created to a price label as directed by the task
ords_prods_merge.rename(columns={'price_range_loc': 'price_label'}, inplace=True)

In [128]:
ords_prods_merge.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_label,busiest_day
0,0.0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,3139998.0,138.0,prior,28.0,6.0,11.0,3.0,5.0,0.0,both,Mid-range product,Regularly busy
1,0.0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,1977647.0,138.0,prior,30.0,6.0,17.0,20.0,1.0,1.0,both,Mid-range product,Regularly busy
2,0.0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,389851.0,709.0,prior,2.0,0.0,21.0,6.0,20.0,0.0,both,Mid-range product,Busiest day
3,0.0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,652770.0,764.0,prior,1.0,3.0,13.0,NaN,10.0,0.0,both,Mid-range product,Regularly busy
4,0.0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,1813452.0,764.0,prior,3.0,4.0,17.0,9.0,11.0,1.0,both,Mid-range product,Least busy

Task 4.7---

In [129]:
result = []

for value in ords_prods_merge["order_dow"]:
  if value == 0 or value == 1:
    result.append("Busiest Days")
  elif value == 4 or value == 3 :
    result.append("Slowest Days")
  else:
    result.append("Regularly Busy")

In [130]:
ords_prods_merge['busiest_day']=result

In [131]:
ords_prods_merge['busiest_day'].value_counts(dropna=False)

busiest_day
Regularly Busy    12916111
Busiest Days      11864412
Slowest Days       7624336
Name: count, dtype: int64

3) The second busiest day ends up changing this number by quite a bit. This was very similar to the first output but should give a better idea that the 2 busiest days are almost equivalent to the 3 regular busy days in terms of scale of sales/app usage

ords_prods_merge.head()

In [132]:
ords_prods_merge['order_hour_of_day'].value_counts(dropna=False)

order_hour_of_day
10.0    2761760
11.0    2736140
14.0    2689136
15.0    2662144
13.0    2660954
12.0    2618532
16.0    2535202
9.0     2454203
17.0    2087654
8.0     1718118
18.0    1636502
19.0    1258305
20.0     976156
7.0      891054
21.0     795637
22.0     634225
23.0     402316
6.0      290493
0.0      218769
1.0      115700
5.0       87961
2.0       69375
4.0       53242
3.0       51281
Name: count, dtype: int64

In [133]:
#I need the count data here and this helps me get that and add it to the table to use
counts_series = ords_prods_merge['order_hour_of_day'].value_counts(dropna=False)

In [135]:
#Convert hours of day to a count column
counts_df = counts_series.rename_axis('order_hour_of_day').reset_index(name='count')

In [136]:
#Merge counts onto large df
ords_prods_merge = ords_prods_merge.merge(counts_df, on='order_hour_of_day', how='left')

In [137]:
#creating conditions for orders and product dataset
ords_prods_merge.loc[ords_prods_merge['count'] > 2000000, 'busiest_period_of_day'] = 'Most orders'

In [138]:
ords_prods_merge.loc[(ords_prods_merge['count'] <= 2000000) & (ords_prods_merge['count'] > 500000), 'busiest_period_of_day'] = 'Average orders'

In [141]:
ords_prods_merge.loc[ords_prods_merge['count'] <= 500000, 'busiest_period_of_day'] = 'Fewest orders'

In [142]:
#counts for the conditions created above
ords_prods_merge['busiest_period_of_day'].value_counts(dropna= False)

busiest_period_of_day
Most orders       23205725
Average orders     7909997
Fewest orders      1289137
Name: count, dtype: int64

In [143]:
print(ords_prods_merge['busiest_period_of_day'])

0              Most orders
1              Most orders
2           Average orders
3              Most orders
4              Most orders
                 ...
32404854       Most orders
32404855       Most orders
32404856    Average orders
32404857       Most orders
32404858       Most orders
Name: busiest_period_of_day, Length: 32404859, dtype: object

The count cutoffs are over 2 million for most orders, between that and 500k for most orders, and under 500k for Fewest orders.

In [144]:
ords_prods_merge.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_label,busiest_day,count,busiest_period_of_day
0,0.0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,3139998.0,138.0,prior,28.0,6.0,11.0,3.0,5.0,0.0,both,Mid-range product,Regularly Busy,2736140,Most orders
1,0.0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,1977647.0,138.0,prior,30.0,6.0,17.0,20.0,1.0,1.0,both,Mid-range product,Regularly Busy,2087654,Most orders
2,0.0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,389851.0,709.0,prior,2.0,0.0,21.0,6.0,20.0,0.0,both,Mid-range product,Busiest Days,795637,Average orders
3,0.0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,652770.0,764.0,prior,1.0,3.0,13.0,NaN,10.0,0.0,both,Mid-range product,Slowest Days,2660954,Most orders
4,0.0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,1813452.0,764.0,prior,3.0,4.0,17.0,9.0,11.0,1.0,both,Mid-range product,Slowest Days,2087654,Most orders

In [145]:
# Export data to pkl
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge_new.pkl'))